{% extends 'emails/base_email.html' %}
{% block title %}Ótima Notícia: Seu Cadastro no Grupo Quality Ambiental Foi Aprovado!{% endblock %}
{% block email_content %}
<p>Prezado(a) {{ nome_usuario}},<br>

Agradecemos seu interesse em prestar serviços para o Grupo Quality Ambiental.<br>

Após análise de suas informações, temos o prazer de informar que seu cadastro foi aprovado. Em breve, entraremos em contato para alinhamento das próximas etapas, conforme a demanda técnica ou operacional.<br>

Caso tenha dúvidas ou queira atualizar seus dados, estamos à disposição pelo e-mail adm@qualylab.com.br.<p>
<p>Atenciosamente,</p>
<p>Grupo Quality Ambiental</p>
{% endblock %}