{% extends 'base.html' %}
{% block title %}Listar Cadastros{% endblock %}
{% block content %}
<div class="container">
  <h1 class="display-2 text-center">Lista de cadastros</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cadastro</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    {% for cadastro in cadastros %}
    <tbody>
        <th scope="col">{{ forloop.counter }}</th>
        <th scope="col">{{ cadastro.data_cadastro }}</th>
        <th scope="col">{{ cadastro.nome_completo }}</th>
        <th scope="col">{{ cadastro.telefone }}</th>
        <th scope="col">{{ cadastro.endereco.bairro }}</th>
        <th scope="col">{{ cadastro.endereco.cidade}}</th>
        <th scope="col"><a href="{% url 'visualizar_cadastro' cadastro.id %}">Visualizar</a></th>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}